@import "bootswatch/dist/darkly/bootstrap.min.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121212;
}


#cmd-input {
  flex: 1 1 auto;
  background: transparent; 
  border: 1px solid #333; 
  color: #d1d1d1; 
  font-size: 1rem; 
  font-family: inherit; 
  outline: none; 
  height: 2rem;
  padding: .125rem .5rem;
  background: black;
  font-family: "Consolas", monospace;
}

button {
  background: #000;
    border: 1px solid #333; 
    color: #555;
    text-align: left;

}

.console {
  color: #e0e0e0;
  font-family: "Consolas", monospace;
  font-size: 14px;
  padding: 12px;
  overflow-y: scroll;
  white-space: pre-wrap;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.4;
}

.console > div:not(:last-child:empty) {
  min-height: 1.4em;
}

.console::-webkit-scrollbar {
  width: .75rem;
}

.console::-webkit-scrollbar-track {
  
}

.console::-webkit-scrollbar-thumb {
  background: #202020;
}


.console::-webkit-scrollbar {
  width: 16px;
}

.console::-webkit-scrollbar-track {
}

.console::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 8px;

  /* creates space around the thumb */
  border: 4px solid transparent;
  background-clip: content-box;
}
